@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
h1{
    font-size: 40px;
}
.container{
    background-color: rgb(252, 188, 104);
    border-radius: 20px;
    padding: 10px;
    width: 400px;
    display: flex; 
    flex-direction: column;
    align-items: center;
   
}
#lamp{
    margin: 20px;
    border-radius: 20px;
}
#btnlig{
    background-color: rgb(48, 202, 48);
}
#btndes{
    background-color: red;
}
button{
    color: white;
    border:none;
    font-size: 29px;
    border-radius: 10px;
    margin:15px; 
    padding: 10px; 
}